#title{
    margin-top: 3%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

i{
    font-size: 36px;
    margin-left: 95%;
    color: #f88;
    background-color: #fff;
    padding: 1%;
}

i:hover{
    background-color: #f88;
    color: #fff;
    border-color: #f88;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    border-color: #f88;
    border-style: solid;
    font-weight: bold;
    font-size: 1.1em;
    color: #f88;
    outline: none;
  }
button:hover{
    background-color: #f88;
    color: #fff;
}

#Add{
    margin-left: 15%;
}

#Bill{
    width: 200px;
    height: 30px;
}

ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 35%;
    margin-right: 25%;
    
}

img{
    
    width: 450px;
    height: 450px;
    text-align: center;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 8%;
}

img:hover{
    opacity: 0.3;
}

#proName{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150%;
    margin-left: -65%;
    transform: translate(-250%, 700%)!important;
    -ms-transform: translate(-150%, -100%)!important;
}


/* #Info{
    width: 150px ;
    position: absolute; 
    transform: translate(-190%, 700%)!important;
    -ms-transform: translate(-150%, -100%)!important;
    margin: 1%;
    text-align: center;
} */

#cart{
    margin-left: 95%;
}

  