#header2{
    color: blanchedalmond;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbrLBK-5p5QxEZzfqAzHI4Hh7F9XupYE1dTg&usqp=CAU");
    font-size: 50px;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

  
   li {
       color: azure;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbrLBK-5p5QxEZzfqAzHI4Hh7F9XupYE1dTg&usqp=CAU");
    border-radius: 3px;
    display: inline-block;
    height: 250px;
    margin: 5rem;
    position: relative;
    width: 300px;
    
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  li{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  button {

    
    padding: 0;
  
    overflow: hidden;
  
    
    
  
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: darkslategrey;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
  /* Styles, not important */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    position: relative;
    height: 100%;
  }
  .btn.orange {
    background-color: #e67e22;
  }
  
  .btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
  }
  
  .btn.red {
    background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }
 .demo {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    text-align: ;
   
 }
 p{
     color: azure;
     font-size: 30;
 }
 body{
    background-image: url("https://wallpaperset.com/w/full/9/2/9/310975.jpg");
    text-align: center;
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
